
    <div class="body-form">
        <div class="form-container">
            <form class="styles-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Sign In</h1>
                <input class="input-styles" type="email" formControlName ="email" placeholder="Email">
                <input class="input-styles" type="password" formControlName="password" placeholder="Password">
                <button class="button-styles" type="submit" [disabled]="loginForm.invalid">Login</button>
                <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.dirty || loginForm.get('password')?.errors && loginForm.get('password')?.dirty">
                    <p *ngIf="loginForm.get('email')?.hasError('email')">Correo invalido</p>
                    <p *ngIf="loginForm.get('password')?.hasError('minLengt')">Minimos 5 caracteres la contraseña</p>
                    <p *ngIf="loginForm.get('password')?.hasError('maxLength')">Maximo 10 caracteres la contraseña</p>
                </div>
            </form>
        </div>
    </div>


